:root {
    -sidebar-bg: #f4f4f4;
    --primary-color: #000;
    /* --heading-color: #333; */
    --heading-color: #ffffff;
    --color-text-light: #ffffff;
    --link-color-body: #007acc;
    --link-color-header: #000;
    --footer-bg: #2E3338;
    --footer-text-color: #ccc;
    --font-family: sans-serif;
    --content-max-width: 800px;
    --padding: 1rem;
    --header-height: 64px;
    --nav-gap: 1.5rem;
    --shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-family);
    line-height: 1.6;
    min-height: 100vh;
    background-color: #4C5259;
}

.container {
    display: flex;
    min-height: 100vh;
}

.content {
    flex: 1;
    max-width: var(--content-max-width);
    margin: 2rem auto;
    padding: var(--padding);
    background-color: #4C5259;
    color: white;
}

.content a {
    color: var(--link-color-body);
}

.content a:hover {
    text-decoration: underline;
    color: #005fbb;
}

.site-footer {
    background-color: var(--footer-bg);
    color: var(--footer-text-color);
    text-align: center;
    padding: var(--padding);
    font-size: 0.9rem;
}

h1,
h2 {
    color: var(--heading-color);
}

a,
.nav-links li a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover,
.nav-links li a:hover {
    text-decoration: underline;
}

.site-header {
    /* background-color: var(--sidebar-bg); */
    background-image: linear-gradient(to right, #f39953, #D76464, #3264E1);
    color:var(--link-color-header);
    /* color: var(--color-text-light); */
    padding: var(--padding);
    box-shadow: var(--shadow);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.site-header nav {
    max-width: var(--content-max-width);
    margin: 0 auto;
}

.site-header a:hover {
    text-decoration: underline;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: var(--nav-gap);
    padding: 0;
    margin: 0;
}

#header-placeholder {
    height: var(--header-height);
}