<header class="site-header">
  <nav>
    <ul class="nav-links">
      <li>
        <a href="/index.html">🏠 <span>Home</span></a>
      </li>
      <li>
        <a href="/projects/flare/index.html"
          ><img
            src="/components/images/flare-icon-navbar.jpg"
            alt="Flare logo"
            style="height: 24px; vertical-align: middle"
          />
          <span>Flare</span></a
        >
      </li>
      <li>
        <a href="/projects/shortcuts/index.html">🍎 <span>Shortcuts</span></a>
      </li>
      <li>
        <a href="/projects/breakout/index.html"
          >🎮 <span>iPhone Breakout</span></a
        >
      </li>
    </ul>
  </nav>
</header>
